
      /* Estilizando o index */
      
      
      body {

            background: #020024;
            background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);background-color: black;
            color: aliceblue;
            
        }

        img {
            width: 200px;
            border-radius: 50%;
            border-color: black;
            border: solid;


        }


        button
        {

            border-radius: 15%;
            width: 200px;
            background-color: bisque;




        }

        /* Estilizando o formulario */

        #formulario {
            background-image: url(./assents/desktop-wallpaper-galaxy-for-walls.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            
        }

        #box_form {
            border: solid black;
            padding-top: 30px;
            padding-bottom: 30px;
            padding-left: 40%;
            padding-right: 40%;
            
        }







        



    